name: Unit Tests

on:
  push:
    branches: [ main ]
    paths:
      - "airsensor.c"
      - "tests/**"
      - "Makefile"
  pull_request:
    paths:
      - "airsensor.c"
      - "tests/**"
      - "Makefile"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Compile and run unit tests
        run: make test
